<head>
	<meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type">
	<meta name="viewport" content="width=device-width, initial-scale = 0.5">

	<!-- SEO Meta Tags -->
	<title>PawHub Lost&Found</title>
	<meta name="description" content="Mi vecina tiene 3 gatos encerrados y desde afuera puedo ver que están flaco">
	<link rel="stylesheet" href="../stylesheets/style.css" type="text/css" media="screen"/>
	<meta name="keywords" content="Maltrato,Gato">

</head>
